

button {
    background-color: rgb(255, 230, 0);
    color: rgb(0, 0, 0);
    font-family: 'Roboto Mono', monospace;
    font-size: 20px;
    border: none;
    border-radius: 27px;
    cursor: pointer;
    transition: background-color .15s;
    margin-right: 20px;
    margin-left: 20px;
    margin-top: 20px;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
    display: inline-block;
    text-align: center;


}

button:hover {
    background-color: rgb(27, 147, 13);
    opacity: .8;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, .15);
}

button:active {
    background-color: rgb(27, 147, 13);
    opacity: .4;
}






.Academic_Emails {
    font-size: 76px;
    font-family: 'Roboto Mono', monospace;
    text-align: center;
    font-weight: bold;
    width: 800px;
    line-height: 24px;
    margin-left: 350px;
    margin-bottom: 80px;
    display: block;
    text-align: center;
}


.Academic1_button {
margin-left: 407px;
margin-bottom: 76px;

}

.Academic2_button {

  

}

.Main_button {
   
    margin-left: 595px;
}


.Main_Emails {
    font-size: 76px;
    font-family: 'Roboto Mono', monospace;
    text-align: center;
    font-weight: bold;
    width: 600px;
    line-height: 24px;
    margin-left: 450px;
    margin-bottom: 80px;
    display: block;
    text-align: center;
}



