

button {
    background-color: rgb(255, 230, 0);
    color: rgb(0, 0, 0);
    font-family: 'Roboto Mono', monospace;
    font-size: 20px;
    border: none;
    border-radius: 27px;
    cursor: pointer;
    transition: background-color .15s;
    margin-right: 20px;
    margin-left: 20px;
    margin-top: 20px;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
    display: inline-block;
    text-align: center;

}

button:hover {
    background-color: rgb(27, 147, 13);
    opacity: .8;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, .15);
}
button:active {
    background-color: rgb(27, 147, 13);
    opacity: .4;
}

.sayno_button {
    background-color: red;

}

.CV_button {
    margin-left: 300px;
}
.sayno_button {
    margin-right: 50px;
}
.matsodon_button {
    margin-right: 300px;
}
.linkdin_button {
    margin-left: 210px;
    margin-bottom: 100px;
}
.title {
    font-family: 'Roboto Mono', monospace;
}

.intro_brief_paragraph {
    font-size: 20px;
    font-family: 'Roboto Mono', monospace;
    text-align: center;
    font-weight: bold;
    width: 400px;
    line-height: 24px;
    margin-left: 555px;
    margin-bottom: 50px;
    display: block;

    text-align: center;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
    
  }

.circle-border {
    border-radius: 50%;
    border: 20px solid rgba(255, 230, 0, 0.76);
    display: flex;
    justify-content: center;
}

