
.whatssap_paragraph {
    font-size: 76px;
    font-family: 'Roboto Mono', monospace;
    text-align: center;
    font-weight: bold;
    width: 1000px;
    height: 100px;
    line-height: 24px;
    margin-left: 250px;
    margin-bottom: 80px;
    display: block;
    text-align: center;
    line-height: 1.5;
}



